---

- include: apt.yml
  when: ansible_pkg_mgr == 'apt'
- include: homebrew.yml
  when: ansible_os_family == 'Darwin'
  become: false

- include: base.yml
  become: false

- set_fact:
    role_git_done: true
